<div class="search-bar">
  <%= form_tag('', method: :get) do %>
    <span>
      <%= select_tag "field", options_for_select(@fields, @search_field), prompt: "Select field" %>
    </span>
    <span>
      <%= text_field_tag 'value', @search_term, placeholder: 'Enter search term', class: "search_term" %>
    </span>
    <span>
      <%= submit_tag 'Search' %>
    </span>
    <span>
      <%= link_to 'Clear', request.path %>
    </span>
  <% end %>
</div>
