<h1>Tickets</h1>

<%= render 'shared/flash_notifications' %>
<%= render 'shared/search_bar' %>

<% if @tickets.exists? %>
  <table class="tickets-table">
    <thead>
      <tr>
        <th class="_id">Id</th>
        <th class="url">Url</th>
        <th class="external_id">External Id</th>
        <th class="ticket_type">Ticket Type</th>
        <th class="subject">Subject</th>
        <th class="description">Description</th>
        <th class="priority">Priority</th>
        <th class="status">Status</th>
        <th class="submitter">Submitter Id</th>
        <th class="assignee">Assignee Id</th>
        <th class="organization">Organization Id</th>
        <th class="has_incidents">Has Incidents</th>
        <th class="due_at">Due At</th>
        <th class="via">Via</th>
        <th class="tags">Tags</th>
        <th class="created_at">Created At</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td class="_id"><%= ticket._id %></td>
          <td class="url"><%= link_to "url", ticket.url %></td>
          <td class="external_id"><%= ticket.external_id %></td>
          <td class="ticket_type"><%= ticket.ticket_type %></td>
          <td class="subject"><%= ticket.subject %></td>
          <td class="description"><%= ticket.description %></td>
          <td class="priority"><%= ticket.priority %></td>
          <td class="status"><%= ticket.status %></td>
          <td class="submitter"><%= submitter_link ticket %></td>
          <td class="assignee"><%= assignee_link ticket %></td>
          <td class="organization"><%= organization_link ticket %></td>
          <td class="has_incidents"><%= ticket.has_incidents %></td>
          <td class="due_at"><%= ticket.due_at %></td>
          <td class="via"><%= ticket.via %></td>
          <td class="tags"><%= tag_names ticket %></td>
          <td class="created_at"><%= ticket.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="no-records notification alert">
    No tickets available for given input.
  </div>
<% end %>

<br/>
<%= paginate @tickets %>
