<h1>Tickets</h1>

<%= render 'shared/flash_notifications' %>
<%= render 'shared/search_bar' %>

<% if @tickets.exists? %>
  <table class="tickets-table">
    <thead>
      <tr>
        <th class="_id">Id</th>
        <th class="url">Url</th>
        <th class="external_id">External</th>
        <th class="ticket_type">Type</th>
        <th class="subject">Subject</th>
        <th class="description">Description</th>
        <th class="priority">Priority</th>
        <th class="status">Status</th>
        <th class="submitter">Submitter</th>
        <th class="assignee">Assignee</th>
        <th class="organization">Organization</th>
        <th class="has_incidents">Has incidents</th>
        <th class="due_at">Due at</th>
        <th class="via">Via</th>
        <th class="created_at">Created at</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td class="_id"><%= ticket._id %></td>
          <td class="url"><%= link_to "url", ticket.url %></td>
          <td class="external_id"><%= ticket.external_id %></td>
          <td class="ticket_type"><%= ticket.ticket_type %></td>
          <td class="subject"><%= ticket.subject %></td>
          <td class="description"><%= ticket.description %></td>
          <td class="priority"><%= ticket.priority %></td>
          <td class="status"><%= ticket.status %></td>
          <td class="submitter">
            <%= link_to ticket.submitter.name, users_path(field: :name, value: ticket.submitter.name) %>
          </td>
          <td class="assignee">
            <% if ticket.assignee %>
              <%= link_to ticket.assignee.name, users_path(field: :name, value: ticket.assignee.name) %>
            <% else %>
              "Unassigned"
            <% end %>
          </td>
          <td class="organization"><%= ticket.organization&.name %></td>
          <td class="has_incidents"><%= ticket.has_incidents %></td>
          <td class="due_at"><%= ticket.due_at %></td>
          <td class="via"><%= ticket.via %></td>
          <td class="created_at"><%= ticket.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="no-records notification alert">
    No tickets available for given input.
  </div>
<% end %>

<br/>
<%= paginate @tickets %>
